*{
    margin: 0;
    padding: 0;
}
.container{
    margin-top: 20px;
}
.row{
    padding: 20px;
    border: 1px solid red;
    justify-content: center;
}
.row>label>input{
    padding: 2px;
    border: 1px solid black;
    border-radius: 9px;
    cursor: pointer;
}