*{
    margin: 0;
    padding: 0;
}
html>body{
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    background-color: #3d3e4f;
    color: #ffffff;
}
.container{
    margin-top: 20px;
    display: grid;
}
.row{
    padding: 20px;
}
.row>label{
    padding-left: 120px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
@media (max-width: 992px) {
    .row > label {
        padding-left: 60px;
    }
}
@media (max-width: 576px) {
    .row > label {
        padding-left: 20px;
    }
}
.row>label>input{
    margin-top: 10px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 9px;
    cursor: pointer;
}
.row>.gend>label{
    margin-top: 10px;
}
.row>.db>input{
    padding: 5px;
}
.row>label>select{
    margin-top: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 9px;
}
.row>label>textarea{
    margin-top: 10px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 9px;
    cursor: pointer;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.row>button{
    margin: 0;
    width: 200px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    border: 2px solid #ffffff;
    border-radius: 25px;
    background-color: #3d3e4f;
    color: #ffffff;
}